services:
  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb
    volumes:
      - mdb:/var/lib/mysql
    env_file:
      - .env
    secrets:
      - db_password
      - db_root_password
    networks:
      - inception
    restart: always

  wordpress:
    container_name: wordpress
    build: ./requirements/wordpress
    depends_on:
      - mariadb
    volumes:
      - wp:/var/www/html
    env_file:
      - .env
    secrets:
      - db_password
      - wp_admin_password
      - wp_user_password
    networks:
      - inception
    restart: always

  nginx:
    container_name: nginx
    build: ./requirements/nginx
    depends_on:
      - wordpress
    volumes:
      - wp:/var/www/html:ro
    ports:
      - "443:443"
    networks:
      - inception
    restart: always

volumes:
  mdb:
  wp:

networks:
  inception:
    driver: bridge

secrets:
  db_password:
    file: ./../secrets/db_password.txt

  db_root_password:
    file: ./../secrets/db_root_password.txt

  wp_admin_password:
    file: ./../secrets/wp_admin_password.txt

  wp_user_password:
    file: ./../secrets/wp_user_password.txt

